<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <a class="logo" href="https://dataservices.library.jhu.edu/">
          <h2 class="logo">Johns Hopkins University Data Services</h2>
        </a>
      </div>
      <div class="col-md-4">
        <section id="text-2" class="widget widget_text">
          <h3>Location</h3>
          <p>Milton S. Eisenhower Library, A-Level</p>
        </section>
        <section>
          <h3>Contact Us</h3>
          <ul class="contact list-unstyled">
            <li>
              <a href="mailto:dataservices@jhu.edu" class="cont-email">dataservices@jhu.edu</a>
            </li>
          </ul>
          <div class="sl-social"></div>
        </section>
      </div>
      <div class="col-md-4">
        <section>
          <h3>GeoPortal</h3>
          <ul class="list-unstyled">
            <li><%=link_to('About', '/about')%></li>
            <li><%=link_to('Contact', '/contact')%></li>
            <li><%=link_to('Help', '/help')%></li>
          </ul>
        </section>
      </div>
      <div class="col-md-4">
        <section>
          <h3>Mailing Lists</h3>
          <div>
            <p>
              <a href="mailto:sympa@lists.johnshopkins.edu?subject=subscribe%20dmsdatamanagement">Data Management</a> mailing list:<br> Receive latest data management and sharing information, upcoming Data Services events and training sessions
            </p>
            <p><a href="mailto:gis-request@lists.johnshopkins.edu">GIS</a> mailing list:<br> Find out what is happening in GIS around Hopkins</p>
          </div>
        </section>
      </div>
      <div id="copyright" class="col-md-12">
        <p>© 2020 Johns Hopkins University</p>
        <ul id="legal-menu" class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.jhu.edu/privacystatement">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.library.jhu.edu/policies/confidentiality-policy/">Confidentiality</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.library.jhu.edu/policies/disclaimer/">Disclaimer</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.library.jhu.edu/policies/">Policies</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
