<div id="topnav-container">
  <div class='container-fluid'>
    <header id="topnav" class="header-logo" role="banner">
      <%= link_to 'https://www.library.jhu.edu/' do %>
      <%= content_tag :span, "Johns Hopkins University Libraries", class: "sr-only" %>
      <%= image_tag "libraries.logo_.small_.horizontal.black_-560x200.png", alt: "Johns Hopkins Libraries - Logo", class: 'app-logo' %>
      <% end %>

      <div class="site-name">
        <h1>
          <%= link_to 'GeoPortal', root_url %>
        </h1>
      </div>

      <div class='topnav-links'>
        <!--<ul class="navbar-nav">
          <li><a href="#">Menu Item</a></li>
          <li><a href="#">Menu Item</a></li>
        </ul>-->
      </div>
    </header>
  </div>
</div>
