<div id="main-content" class="col-md-8">
  <h1 id="about-the-geoportal">About the Geoportal</h1>
  <p><a href="https://www.library.jhu.edu/">Johns Hopkins University Sheridan Libraries</a> curates a large collection of historical maps, geospatial data and imagery, including the William Hackerman Map Collection, the largest and most comprehensive collection of historically significant maps of Baltimore and Maryland.</p>

  <p>The Johns Hopkins University geoportal is an inter-departmental library effort to improve geospatial data discovery and access for the Johns Hopkins community. We are proud to present a central platform from which users can search for and obtain geospatial data, scanned maps, imagery and other geospatial resources for research and education purposes.</p>

  <p>This geoportal is an open, collaborative project built using <a href="https://geoblacklight.org/">GeoBlacklight</a>, a multi-institutional open-source collaboration for finding and sharing geospatial data.<br>Currently, the data in the Johns Hopkins geoportal is publicly available and can be reused without restriction. This geoportal is an ongoing library project, and additional data will be added over time. </p>
</div>

<div id="nav-menu" class="col-md-3 col-md-offset-1">
  <h3>Pages</h3>
  <ul class="nav nav-sidebar flex-column">
    <li class="nav-item">
      <a href="/about" class="active nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <a href="/help" class="nav-link">Help</a>
    </li>
  </ul>
</div>
