<div id="main-content" class="col-md-8">
  <h1 id="contact-us">Contact Us</h1>
  <p>As we work to improve this geoportal and add additional geospatial data, we want to hear your suggestions and ideas. Email <a href="https://dataservices.library.jhu.edu/">Data Services</a> at dataservices@jhu.edu. </p>

</div>

<div id="nav-menu" class="col-md-3 col-md-offset-1">
  <h3>Pages</h3>
  <ul class="nav nav-sidebar flex-column">
    <li class="nav-item">
      <a href="/about" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="active nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <a href="/help" class="nav-link">Help</a>
    </li>
  </ul>
</div>
