#topnav-container {
  border-top: 3px solid $light-gray;
  position: relative;
}

#topnav {
  width:100%;
  background: none;
  border: 0;
  height: 96px;
  margin-bottom: 0;
  padding: 0px;

  a img {
    float: left;
    margin-left:1.1rem;
  }

  img.app-logo {
    margin-top:0.5rem;
    height: 80px;
  }

  .site-name {
    h1 {
      border-left: 1px solid $black;
      display:inline;
      position: relative;
      top:2.5rem;
      left:1rem;
      padding: 0.75rem;
      padding-left:1.25rem;
      font-weight: normal;
      font-size:1.5rem;
      color:$black;

      a {
        color:$black;
      }
    }
  }

  .topnav-links {
    float: right;
    margin-top: 2px;
  }

  .navbar-nav {
    display: inline;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  ul.navbar-nav > li {
    display: inline;

    a {
      color: $blue;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    & > a {
      padding: 0 .5rem;
    }
  }

  .nav-element-divider {
    color: $blue;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Keep application navbar links white
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.95);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.85);
}

// Mobile hamburger
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255,255,255, 0.85);
}

.navbar-brand {
  background: none;
}

@include media-breakpoint-down(sm) {
  #topnav {
    text-align:center;
  }

  #topnav a img {
    float: none;
    margin-left: 0px;
  }

  div.site-name {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    display: none;
  }
}
