input#q {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

button#search {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@include media-breakpoint-down(sm) {
  form.search-query-form {
    span.input-group-append {
      width:100%;
      padding-top:0.25rem;

      button.search-btn {
        width:50%;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }

      a.advanced_search {
        width:50%;
      }
    }
  }
}
